<table class="table-striped demo-table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Message</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.commits as |commit|}}
      <tr {{action 'show'}}>
        <td>
          <img src='{{commit.author.imageUrl}}' class='img-circle author-avatar'>
          <span>{{commit.author.name}}</span>
        </td>
        <td>{{commit.message}}</td>
        <td>
          {{#if commit.hasExpiration}}
            expires {{time-relative commit.expiresAt}}
          {{else}}
            {{commit.state}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
