<div class="tab-group">
  <div class="tab-item" {{action 'gotoProject'}}>
    {{model.project.name}}
  </div>
  <div class="tab-item active">
    <span class="icon icon-cancel icon-close-tab" {{action 'gotoProject'}}></span>
    [{{model.shortHash}}] {{model.message}}
  </div>
</div>

<header class="toolbar toolbar-header">
  <div class="toolbar-actions text-center">
    <div class="btn-group">
      <button class="btn btn-large btn-negative reject-btn {{if model.isRejected 'disabled'}}">
        <span class="fa fa-meh-o"></span>
        reject
      </button>
      <button class="btn btn-large btn-warning pass-btn {{if model.isPassed 'disabled'}}">
        <span class="fa fa-dot-circle-o"></span>
        pass
      </button>
      <button class="btn btn-large btn-positive accept-btn {{if model.isAccepted 'disabled'}}">
        <span class="fa fa-diamond"></span>
        accept
      </button>
    </div>
  </div>
</header>

<div class='github-webview-wrapper'>
  <webview src="{{model.remoteUrl}}"></webview>
</div>
